@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

#content {
    width: 1600px;
    background-color: lightgray;
    font-family: 'Pacifico', 'Nunito Sans', sans-serif;
}

.home-title {
    font-family: 'Segoe Script', 'Ink Free', sans-serif;
    font-size: 3em;
    margin-top: 10px
}

.logo {
    width: 80px;
    padding: 1.5em;
}

#logo_link {
    padding-top: 5px;

}

.icon {
    width: 80px;
    padding-top: 10px;
}

header {
    background-color: lightslategray;
    text-align: left;
    width: 100%;
}

nav {
    text-align: left;
    font-size: 1em;

}

nav a {
    padding: 35px;

}

nav a:hover {
    background-color: rgb(0, 98, 255);
    text-decoration: underline;
}

a {
    text-align: center;
    color: rgb(255, 230, 0);
    text-decoration: none;
}

body {
    background-color: #fcfbfb;
    font-family: 'Raleway', 'Nunito Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.book {
    background-color: lightslategray;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border-color: rgb(128, 128, 128);

}

.book:hover {
    color: rgb(0, 98, 255);
    background-color: rgb(138, 158, 179);
}

.join {
    font-size: 18px;
    color: black;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
}

.join:hover {
    color: rgb(0, 98, 255);
}

#hero-msg h1 {
    text-align: center;
    font-size: 2em;

}

#hero-msg h4 {
    text-align: center;
    font-size: 1.5em;

}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
    font-size: 1em;

}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid rgb(109, 121, 146);

}

main {
    text-align: center;
    padding-top: 40px;
}

main section img {
    box-sizing: border-box;
}

.msg {
    color: black;
    font-size: 1.5em;
    background-color: lightslategray;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

#background {
    height: 725px;
    background-color: lightslategray;

}

footer {
    color: black;
    font-size: 1.5em;
    background-color: lightslategray;
    text-align: center;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
    text-decoration: none;

}

footer a {
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
}

footer a:hover {
    color: rgb(0, 98, 255);
}

.social a {
    text-decoration: none;
}